body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.postLink {
  text-decoration: none;
}

#blueText {
  color: blue;
}

header {
  text-align: center;
  color: brown;
}
